<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Расходы</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark position-sticky"
     style="top: 0; z-index: 1020 !important;">
    <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'expenses:index' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'expenses:history' %}">История</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'expenses:stats' %}">Статистика</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-danger">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
        {% endif %}
    </div>
</nav>
<div class="container mt-2 mb-2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6" id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>