{% extends "base.html" %}
{% block content %}
<h3>Статистика</h3>
<form method="get" action="{% url 'expenses:stats' %}">
    {% csrf_token %}
    <label class="form-label">Выберите диапазон дат</label>
    <div class="mb-3 row">
        <label for="begin" class="col-2 col-form-label">От: </label>
        <input id="begin" name="begin_date" type="date" class="form-control col mr-3"
            value="{{ form.begin_date.value }}" required />
    </div>
    <div class="mb-3 row">
        <label for="end" class="col-2 col-form-label">До: </label>
        <input id="end" name="end_date" type="date" class="form-control col mr-3" value="{{ form.end_date.value }}"
            required />
    </div>
    <button type="submit" class="btn btn-primary">Показать</button>
</form>
<div class="table-responsive mt-3">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th scope="col">Описание</th>
                <th scope="col">Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.category }}</td>
                    <td>{{ record.total|floatformat:'2'}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><b>Итого</b></td>
                <td>{{ total|floatformat:'2' }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}